.board {
  position: absolute;
  height: 650px;
  width: 650px;
  border: solid red 1px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);

}
.cell {
  height: 100%;
  width: 100%;
  
}

.active {
  height: 100%;
  width: 100%;

  background-color: red;
}

#start-button {
  width: 80px;
  border: solid 1px;
  border-radius: 40px;
  text-align: center;
}
